<?xml version="1.0" encoding="UTF-8"?>

   <config version="6.0.0" htmlParse="false">

   <!-- GENERAL SETTINGS -->
   <!-- "setupTarget" options: netlify, firebase, local, email, or sheets -->
   <item id="studyTitle">Exploring community pharmacists-champions motivations for professional services in Australian community pharmacy</item> 
   <item id="databaseOptions">netlify</item>
   <item id="setupTarget">netlify</item>
   <!-- STEIN -->
   <item id="steinApiUrl"></item>
   <!-- EMAIL -->
   <item id="emailAddress">veronika.seda@outlook.com</item>  
   <item id="emailSubject">EQ Web Sort Results</item>  
   <!-- SECOND PROJECT LINKING -->
   <item id="linkToSecondProject">false</item> 
   <item id="secondProjectUrl">http://</item> 
   <!-- IMAGE OPTIONS  (imageFormat: 169 or 43)-->
   <item id="useImages">false</item>
   <item id="numImages">30</item>
   <item id="imageFileType">jpg</item>
   <item id="imageFormat">postSortImageModal169</item>

   <!-- OTHER GENERAL OPTIONS -->
   <item id="shuffleCards">false</item>
   <item id="headerBarColor">#337ab7</item>
   <item id="devMode">false</item> 
   <item id="showConsentPage">false</item> 
   <item id="showConsentPageHelpModal">true</item> 



   <!-- ACCESS -->
   <!-- options: anonymous, partId-access, partId, access -->
   <item id="initialScreen">anonymous</item>
   <item id="accessCode">Qstudy</item>

   <!-- LEGACY DEFAULTS (do not change these)-->
   <item id="setDefaultFontSize">true</item>
   <item id="defaultFontSize">25</item>
   <item id="displayNeutralObjects">false</item>

   
   <!-- PRESORT -->
   <!-- default colors #2a2a2a, #ccffcc, #e0e0e0, #ffe0f0 -->
   <item id="greenCardColor">#ccffcc</item>
   <item id="yellowCardColor">#e0e0e0</item>
   <item id="pinkCardColor">#ffe0e0</item>
   <item id="defaultFontColor">#2a2a2a</item>

   <item id="setDefaultFontSizePresort">true</item>
   <item id="defaultFontSizePresort">20</item>
   <item id="traceSorts">true</item>
  

   <!-- SORT -->
   <item id="allowUnforcedSorts">false</item>
   <item id="warnOverloadedColumn">true</item>
   <item id="condOfInstFontSize">18</item>

   <item id="setMinCardHeightSort">true</item>
   <item id="minCardHeightSort">130</item>
   <item id="setDefaultFontSizeSort">true</item>
   <item id="defaultFontSizeSort">16</item>
   
   <item id="sortDirection">positive</item> 

   <!-- POSTSORT -->
   <item id="showPostsort">true</item>
   <item id="showSecondPosColumn">true</item>
   <item id="showSecondNegColumn">true</item>
   <item id="showBackButton">true</item>
   <item id="postsortCommentsRequired">true</item>

   <item id="setDefaultFontSizePostsort">true</item>
   <item id="defaultFontSizePostsort">16</item>
   <item id="setMinCardHeightPostsort">true</item>
   <item id="minCardHeightPostsort">120</item>


   <!-- SURVEY - Survey Questions -->
   <item id="showSurvey">true</item>

   <item id="survey">
       <input type="information"></input>
       <note bg="rgba(253, 224, 71, .5)">All questions marked with an * are {{{b}}}required.{{{/b}}}</note>
   </item>

   <item id="survey">
        <input type="text" required="true" limited="true" limitLength="100" restricted="false"></input>
        <label>1. Thinking about the pharmacy where you spent the most time in the last 14 days: On average, how many prescriptions does this pharmacy dispense in a day?</label>
        <note>Please state the number below</note>
        <placeholder>input comment here</placeholder>
   </item>

   <item id="survey">
        <input type="checkbox" required="true">MedsCheck;;;Diabetes MedsCheck;;;Immunisations (except COVID-19 vaccinations);;;COVID-19 vaccinations;;;Dose administration aids;;;Opioid substitution;;;Take-home naloxone medication service;;;Blood pressure measurement;;;Absence from work certificates;;;Weight management;;;Wound care;;;Wound care;;;Other service (please specify)</input>
        <label>2. Thinking about the pharmacy where you spent the most time in the last 14 days: What professional pharmacist services were you involved in?</label>
        <note>Please select from the following options, mutliple responses possible</note>
   </item>

   <item id="survey">
     <input type="text" required="false" limited="false" limitLength="99999" restricted="false"></input>
        <label>If you selected Other, please specify below</label>
   </item>

    <item id="survey">
        <input type="checkbox" required="true">Pharmacy Owner;;;Senior pharmacist/Pharmacist manager;;;Pharmacist (dispensing, professional services, compounding, etc);;;Other service (please specify)</input>
        <label>3. Who decides on the services to be implemented in this pharmacy?</label>
        <note>Please select from the following options, mutliple responses possible</note>
   </item>

   <item id="survey">
     <input type="text" required="false" limited="false" limitLength="99999" restricted="false"></input>
        <label>If you selected Other, please specify below</label>
   </item>

   <item id="survey">
        <input type="radio" required="false">Yes, formally, it is in their contract;;;Yes, informally, it is one pharmacist responsible for all pharmacy services delivery;;;Yes, informally, that is the pharmacist on duty;;;No, the service is not assigned to anyone;;;Other (please specify)</input>
        <label>4. For the services provided in the pharmacy, are any of the pharmacy staff members assigned to be &apos;in charge&apos; of a service/s?</label>
   </item>

   <item id="survey">
     <input type="text" required="false" limited="false" limitLength="99999" restricted="false"></input>
        <label>If you selected Other, please specify below</label>
   </item>

   <item id="survey">
        <input type="text" required="true" limited="false" limitLength="99999" restricted="false"></input>
        <label>5. What, in your opinion, are the barriers to pharmacists delivery of successful professional services?</label>
        <placeholder>Please share your thoughts here</placeholder>
   </item>

   <item id="survey">
        <input type="radio" required="true">Male;;;Female;;;Other;;;Prefer not to say</input>
        <label>6. What is your gender?</label>
        <note>Please select what applies.</note>
   </item>

   <item id="survey">
        <input type="text" required="true" limited="false" limitLength="99999" restricted="false"></input>
        <label>7. What is your age?</label>
        <note>Please write the number below</note>
     </item>

   <item id="survey">
        <input type="radio" required="true">Yes;;;No</input>
        <label>8. Did you obtain your initial pharmacist qualifications in Australia?</label>
     </item>

     <item id="survey">
        <input type="checkbox" required="false">AACP or Australian Association of Consultant Pharmacists accreditation;;;Diabetes Educator;;;Immunisation training;;;Mental Health training;;;Compounding course;;;Other (please specify);;;None;;;Prefer not to say</input>
        <label>9. Which of the following additional qualifications do you hold?</label>
        <note>You can select more than one option</note>
   </item>

   <item id="survey">
     <input type="text" required="false" limited="false" limitLength="99999" restricted="false"></input>
        <label>If you selected Other, please specify below</label>
   </item>
      
   
   
  </config>